.root {
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 13px;
    -fx-font-smoothing-type: gray;
}

.glyph-icon {
    -fx-font-family: "FontAwesome";
    /*图标颜色*/
    /*-fx-fill: #704b80;*/
}
